body {
    background-color: #f8f8f8;
    font-family: century gothic, sans-serif;
    color: black;
    margin: 10px;
    position: relative;


}
.common {
    border: 2px solid,white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}

h1 {
    color: darkblue;
}
.leftmenu {
    top: 400px;
    left: 5px;
    width: 300px;
    bottom: 39px;
    z-index: 1;
    padding-right: 5px;
  
}

.mainbody {
    top: 400px;
    left: 310px;
    right: 114px;
    bottom: 39px;
   
}

.rightmenu {
    top: 400px;
    right: 5px;
    width: 300px;
    bottom: 39px;
    padding-left: 100px;
   
}

.footer {
    position: fixed;
    left: 5px;
    right: 5px;
    /* height: 25px; */
    bottom: 0px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    background-color: white;
}

.subheader {
    float: right;
}